<div class="modalify">
	<header>
		<i class="inverse fal {{ icon }}"></i>
		<label>{{ title }}</label>
		<nav>
			<button (close)><i class="fal fa-times"></i></button>
		</nav>
	</header>
	<section>{{ message }}</section>
	<footer><button class="primary" (close)>{{cancel}}</button><button class="danger" (ok)>{{ok}}</button></footer>

</div>