<div class="header">
	<span class="buttons" (buttons)></span>
	<i class="icon {{ icon }}"></i>
	<span class="label">{{ label }}</span>
	<span class="id">{{ id }}</span>
</div>
<div class="error common-error" (error) (common-error)></div>
<form>
	{% for section in sections %}
		<section>
			{% if section.label %}
				<header>{{ section.label }}</header>{% endif %}
			{% for input in section.inputs %}
				<div class="field">
					{% if input.label %}
						<label>{{ input.label }}</label>
					{% endif  %}
					<div is="codex-input-{{ input.type }}" data-name="{{ input.field }}" (input)></div>
				</div>
				<div data-name="{{ input.field }}" class="error" (error)></div>
			{% endfor %}
		</section>
	{% endfor %}
</form>

